body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9DBEBB;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


.form-background {
    background-color: #BE0909;
    max-width: 954px;
    width: 100%;
    height: 595px;
    position: absolute;
}



.label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FEFFFF;
}


.input-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.3em;
    color: #FDFFFF;
    border: #9DBEBB 1px;
}


.send-btn {
    background: #468189;
    border-radius: 40px;
    width: 202px;
    height: 48px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}