body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9DBEBB;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


.form-background {
    margin-top: 65px;
    background-color: #BE0909;
    max-width: 954px;
    width: 100%;
    height: 595px;
    display: flex;
    align-items: center;
}

.text {
    padding-top: 20px;
}


.label {
    margin-left: 65px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FEFFFF;
}


.input-info1 {
    margin-left: 65px;
    max-width: 400px;
    width: 100%;
    height: 50px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #9DBEBB;
    background: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.3em;
}


::placeholder {
    color: #FDFFFF;
}


.input-info2 {
    margin-left: 65px;
    width: 160px;
    height: 72px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #9DBEBB;
    background: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.3em;
}




.container-1 {
    display: flex;
    justify-content: flex-end;

}


.send-btn {
    margin-top: 35px;
    margin-left: 65px;
    background-color: #468189;
    border-radius: 40px;
    width: 202px;
    height: 48px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition-duration: 0.4s;
}



.send-btn:hover {
    background-color: #FFB039;
}


.container-2 {
    max-width: 954px;
    width: 100%;
    height: 595px;
    display: flex;
    justify-content: flex-end;

}


.rectangle {
    margin-top: 5px;
    margin-right: 5px;
    width: 345px;
    height: 583px;
    background-color: #FFB039;
}


.duck-img {
    position: absolute;
}